In [1]:
import pandas as pd

In [2]:
pd.read_json(r"C:\Users\akash\Documents\Web_Screping\IMDb\Project\S24_review.json")

,Buyer_name,Rating,Review
0,himanshu mehta,5,Best in night photographyREAD MORE
1,Prashant Gupta,5,"Awesome product. Best display, best camera, be..."
2,Narendra Singh,5,Amazing Products üëè ü§©READ MORE
3,Amit Kottawar,5,Superb product great in every aspect. Go for i...
4,Amol Mahind,5,Awesome Display and Camera.Battery performance...
...,...,...,...
1445,Zishan Ansari,5,ITS A Beast. Performance too Good Can't wait ...
1446,Sunil Kumar Nayak,5,Excellent performance phoneREAD MORE
1447,Abhishek Jha,5,"Very good looking premium phone, it feels righ..."
1448,Kuntal Kumar Haldar,5,ExcellentREAD MORE
1449,Flipkart Customer,5,Poor camera quality .display top notch. AI fea...